body {
    margin: 0;
    background-color: hsl(229, 57%, 11%);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .progress-bar-block {
        width: 40%;
        height: 180px;
        border-radius: 10px 10px 10px 10px;

    }
    .used {
        margin-inline: 40px;
        display: flex;
        margin-top: 35px;
        position: fixed;
        /*font: 'Raleway' , 22.4px , regular;*/
        font-family: 'Raleway', system-ui;
        font-size: 15.4px;
        color: white;
    }

    .progress {
        margin-inline: 15px;
        display: flex;
        position: absolute;
        margin-top: 70px;
        width: 76%;
        padding: 5px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    }

    .progress-bar {
        background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        display: flex;
        width: 75%;
        padding: 7px;
        border-radius: 10px;
    }

    .dot {
        margin-inline: 50px;
        display: flex;
        margin-top: -5px;
        left: 55%;
        position: fixed;
        font-size: 100px;
        color: white;
        z-index: 3;

    }


    .logo {
        margin-right: 30%;
        margin-top: 10%;
        width: 50%;
        height: auto;
    }

    .icons{
        margin-right: 60px;
        margin-top: 20px;
    }

    .icon {
        background-color: hsl(229, 57%, 11%);
        height: 1.6em;
        width: 1.7rem;
        display: inline-block;
        padding: 10px;
        border-radius: 10px ;
        margin-inline: 10px;
        writing-mode: horizontal-tb;
    }

    .icon2 {
        background-color: hsl(229, 57%, 11%);
        width: 1.7rem;
        display: inline-block;
        border-radius: 10px ;
        margin-inline: 10px;
        writing-mode: horizontal-tb;
        height: 1.4em;
        padding: 12px;
    }

    /* Styles */
    body {
        background-image: url("assets/bg-mobile.png");
        background-repeat: no-repeat;
        background-size: auto 1000px;
    }
    .block {
        /*display: flex;*/
        justify-content: center;
        align-items: end;
        text-align: center;
        margin-top: 60px;
        margin-inline: 25px;

    }

    .logo-block, .progress-bar-block {
        background-color: hsl(228, 56%, 26%);
        /*margin-inline: 32px;*/
        z-index: 1;

    }


    .logo-block {
        width: 100%;
        height: 200px;
        border-radius: 10px 100px 10px 10px;
        margin-bottom: 10%;

    }

    .progress-bar-block {
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 10px 10px;

    }
    .start {
        color: white;
        display: inline-block;
        margin-left: 20px;
        font-family:Garamond;
    }

    .end {
        color: white;
        display: inline-block;
        margin-left: 192px;
        font-family:Garamond;
    }
    .memory {
        margin-top: 85px;
        writing-mode: horizontal-tb;
        position: absolute;
    }


    .main-bubble {
        position: absolute;
        margin-left: 15%;
        background: white;
        width: 200px;
        height: 80px;
        margin-top: 130px;
        border-radius: 10px;
    }

    .speech-bubble {
        position: absolute;
        background: #00aabb;
        border-radius: .4em;
    }



}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1624px) {
    .start {
        color: white;
        display: inline-block;
        margin-left: 0;
        font-family:Garamond;
    }

    .end {
        color: white;
        display: inline-block;
        margin-left: 560px;
        font-family:Garamond;
    }

    .memory {
        writing-mode: horizontal-tb;
        position: static;
    }


    .bg{
        position: absolute;
        right: 0;
        width: 100%;
        bottom: 0;
        height: 50%;
        z-index: 0;

    }
    .logo {
        margin-right: 30%;
        margin-top: 10%;
        width: 50%;
        height: auto;
    }

    .icons{
        margin-right: 100px;
        margin-top: 40px;

    }

    .icon {
        background-color: hsl(229, 57%, 11%);
        height: 1.6em;
        width: 1.7rem;
        display: inline-block;
        padding: 10px;
        border-radius: 10px ;
        margin-inline: 10px;
        writing-mode: horizontal-tb;
    }

    .icon2 {
        background-color: hsl(229, 57%, 11%);
        width: 1.7rem;
        display: inline-block;
        border-radius: 10px ;
        margin-inline: 10px;
        writing-mode: horizontal-tb;
        height: 1.4em;
        padding: 12px;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;
        margin-top: 350px;

    }

    .logo-block, .progress-bar-block {
        display: inline-block;
        background-color: hsl(228, 56%, 26%);
        margin-inline: 32px;
        writing-mode: horizontal-tb;
        z-index: 1;

    }


    .logo-block {
        width: 20%;
        height: 230px;
        border-radius: 10px 100px 10px 10px;

    }

    .progress-bar-block {
        width: 40%;
        height: 180px;
        border-radius: 10px 10px 10px 10px;

    }
    .used {
        margin-inline: 50px;
        display: flex;
        margin-top: 42px;
        position: fixed;
        /*font: 'Raleway' , 22.4px , regular;*/
        font-family: 'Raleway', system-ui;
        font-size: 22.4px;
        color: white;
    }

    .progress {
        margin-inline: 50px;
        display: flex;
        margin-top: 85px;
        width: 85%;
        padding: 5px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    }

    .progress-bar {

        background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        display: flex;
        width: 75%;
        padding: 7px;
        border-radius: 10px;
    }

    .dot {
        margin-inline: 50px;
        display: flex;
        margin-top: 10px;
        left: 67.4%;
        position: fixed;
        font-size: 100px;
        color: white;

    }
    .main-bubble {
        position: absolute;
        margin-left: 27%;
        background: white;
        width: 200px;
        height: 80px;
        margin-top: -50px;
        border-radius: 10px;
    }

    .speech-bubble {
        position: absolute;
        background: #00aabb;
        border-radius: .4em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 33px solid transparent;
        border-top-color: white;
        border-bottom: 0;
        border-right: 0;
        margin-left: 167px;
        margin-bottom: -102px;
    }

}