

@media only screen
and (min-device-width : 340px)
and (max-device-width : 455px) {
    .modal {
        display: none;
        position: absolute;
        z-index: 1;
        width: 80%;
        height: 100%;
        overflow: auto;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        animation-name: animatetop;
        animation-duration: 0.4s
    }

}
@media only screen
and (min-width : 1224px) {
    .modal {
        display: none;
        position: absolute;
        z-index: 1;
        width: 30%;
        height: 100%;
        overflow: auto;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        animation-name: animatetop;
        animation-duration: 0.4s
    }
}

.modal-header {
    width: 100%;
    padding-top: 2.5px;
    padding-bottom: 2px;
    background-color: hsl(228, 56%, 26%);
    color: white;
    height: 100%;
}

.modal-header h2{
    margin-left: 2%;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
}
.modal-content p{
    padding: 20px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {
        left: 0;
        top: 0;
        opacity: 1;
    }
    to {
        opacity: 1;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

    }
}
